.translator-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.heading {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: bold;
    background: #a62de3;
    color: white;
    padding: 10px 20px;
    font-family: Arial,sans-serif;
}

.row-two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 10px;
}

.box,
.output-box {
    background: #ffffff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.box h3,
.output-box h3 {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
}

textarea {
    width: 95%;
    height: 260px;
    resize: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: monospace;
}

textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.output-box textarea {
    height: 300px;
}

.button-row {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #a62de3;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #005dc2;
}

button:disabled {
    background-color: #a0c4ff;
    cursor: not-allowed;
}